<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>Wowfunhappy.sidebuttons.helper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/USERNAME/Library/PreferencePanes/MouseButtons.prefPane/Contents/MacOS/Mouse Buttons.app/Contents/MacOS/MouseSideButtonsHelper</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/Wowfunhappy.sidebuttons.helper.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/Wowfunhappy.sidebuttons.helper.error.log</string>
</dict>
</plist>